<!DOCTYPE html>


<head>
    <script src="static/js/jquery-3.3.1.min.js"> </script>
    <script src="static/js/ajax-functions.js"> </script>
</head>
<body>
    <h1>Jobseekers Diary</h1> - <h2>Nikolas Medgyesy</h2>
    <div class="container">
        
                <form class="form-signin" action="/" method="post" role="form">
                    <input type="string" id="company_name" name="company" class="form-control" placeholder="Company" required autofocus>
                    <input type="string" id="position_name" name="position" class="form-control" placeholder="Position" required>
                    <input type="date" id="date" name="date" class="form-control" required>
                    <input type="string" id="description" name="description" class="form-control" required>
        
                    <button class="btn btn-lg btn-primary btn-block" type="button">Submit </button>
                </form>
             
            </div>
</body>
</html>